.profile
*.bin
*.o
*.out
Arduino/
Desktop/
Documents/
Downloads/
esp01-link/
esp-idf/
esp32/
esptool2/
ISO_images/
KiCAD/
Music/
modellismo/
nandreader/
openLRSng/
Pictures/
Public/
projects/
rboot/
rboot-sample/
README
ReadMe
rs485/  
scripts/
sonoff/include_psw.mak
sonoff/sonoff-0.1.2.tar.gz
Templates/
x86_64/
sonoff-rboot/
Videos/
x-tools/


