/* CSS Document */

html,body{margin:0;padding:0}
body { background-color: transparent;}
p{margin:0 10px 10px}
a{display:block;color: #981793;padding-left:15px;padding-top:10px;margin-bottom:10px;}
div#header{height:102px;margin:0; padding-left:10px;}
div#container{width:1000px;margin:0 auto;background-image: url(../images/GUIBanner.jpg);background-repeat:no-repeat;}
div#wrapper{float:left;width:100%}
div#content{margin: 0 180px}
div#left{float:left;width:180px;height:700px;margin-left:-1000px}
div#right{float:left;width:150px;height:700px;margin-left:-150px}
div#footer{clear:left;width:100%}
div#footer1{clear:left;width:100%}

h1 {font-family: Arial, Verdana, Helvetica, sans-serif;   

	  font-size: 18px;   

	  font-weight: bold;   

	  color: #FFFFFF;

	  margin-top: 20px;   

	  margin-left: 20%;

}
