@charset "utf-8";

/* Reset CSS code*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	
	color:#000000;
	font-size: 0.86em;
	FONT-FAMILY:Arial;
		
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}
ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}
 a{text-decoration:none;}
.clrBth{
	clear: both;
}
/* Layout styles */
.mainContainer{
width: 65%;
	margin: 0 auto;
	background-color:#ffffff;
	
}
.pageHeaderSection{
}

.logo {
	background-image: url(../images/logo1.png);
	background-repeat: no-repeat;
	
	padding: 0px;
	float: left;
	height: 60px;
	width: 295px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

/* Menu Styles */
.mnubarContainer{

	background-repeat: no-repeat;
	padding: 0px;
	color: #000000;
	height: 23px;
	margin: 0px;
	background-color: #e5e5e5;
	border: #cbcbcb 1px solid;
	
	/*for non-css3 browsers*/ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #e1e1e1); /* for firefox 3.6+ */
	
	/*for rounded-corners*/
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
     -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
}
.mnuBar{
	float: left;
}

.releaseInfo{
	float: right;
	padding:5px 10px 0px 0px; 
	font-size:.6em;
	 
}
.mnuBar li{
	font-size: 11px;
	width: 130px;
	padding:5px 0px 0px 15px;
	background-color: #CB082A;
	border: #CB082A 1px solid;
	/*for rounded-corners*/
     -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
	height: 16px;
	line-height:10px;
	margin: 0px;}

.mnuBar li a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	
}

.midContent{
clear: both;
background-color: #fff;
}
.midContentWrapper{
margin: 0px;}
/************************
*************************
*						*
*   Left Navigation 	*
*						*
*************************
************************/
.lftNavConainer{float: left;   background-color:#E9EEF2;
width: 9.9em;padding:0 0 0 1em;margin:0 auto;height:450px; }

/* Level 1 Icons */
.leftIconMnu{height:215px; padding-top: 2em; }
.subMnu{height:100%;border-top:1px solid #000; background-color:#fff;margin-top:15px;}
.leftNav_lvl1{ font-size: 0.8em; height: 2em; width: 100%;}

.leftIconMnu li { display: block; text-align: center; background-color:#f8f4f1; color:#666666; }
.leftIconMnu li a{ display: block; text-align: center; background-color:#f8f4f1;color:#666666;  }
.leftIconMnu li a:hover{ display: block; text-align: center;  background-color:#fff; }
.leftIconMnu li a:active{ display: block; text-align: center; background-color:#fff; }


.leftIconMnu li.home  a{  padding:2px; text-decoration: none;  line-height: 12px; }
.leftIconMnu li .home a:hover{display: block;   padding:2px;  text-decoration: none; line-height: 12px;}

.leftIconMnu li.impBase  a{   padding:2px; text-decoration: none; line-height: 12px;}
.leftIconMnu li .impBase a:hover{   padding:2px;   text-decoration: none; line-height: 12px;}

.leftIconMnu li.impAvan  a{   padding:2px; text-decoration: none; line-height: 12px;}
.leftIconMnu li .impAvan a:hover{display: block;   padding:2px;  text-decoration: none; line-height: 12px;}


/* Level 2 Links */
.leftNav_lvl2 {font-size: 0.8em; float:right;width: 100%;}
.leftNav_lvl2 li {display: block;text-decoration:none;text-align:left;}
.leftNav_lvl2 li  a{display: block;   padding:3px 0px 2px 15px; line-height: 1em;text-decoration:none; background-color:#fff;color:#989898;}
.leftNav_lvl2 li  a:hover{display: block;   padding:3px 0px 2px 5px; line-height: 1em;text-decoration:none; background-color:#fff;color:#121212;}
.leftNav_lvl2 li  a:active{display: block;   padding:3px 0px 2px 5px; line-height: 1em;text-decoration:none; background-color:#fff;color:#121212;}


/************************
*************************
*						*
*    Content Section 	*
*						*
*************************
************************/
.contentContainer{ float:left; width:100%; background-color:#E9EEF2; height:100%}

/* BreadCrumb Container */
.breadCrumbContainer{ height: 1.8em; width: 90%;padding-left:36px;}

.brdCrumb{font-size: 11px;}

.brdCrumb li{ float: left; padding: 1em;padding-top:13px;}

doesnotexist:-o-prefocus, .brdCrumb li {
padding-top:17px;
}


.brdCrumb li a {  color: #888; text-decoration:none;}

.contentTab{
padding: 0; clear: both;width: 835px;height:60px;
}

/* tab Styling */
ol#tocTab {    height: 100%;    list-style: none;    margin: 0;    padding: 0; }
ol#tocTab li {  padding: 0;  width:100%;  display:inline;}
ol#tocTab  a{   
	color: #606060;
	text-decoration:none;  
        border-radius: 15px 15px 0 0;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	background-color:#e6e6e6;
	border:1px solid #e1e1e1;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:3px;
	float: left;
	height: 55px;
	width: 398px;
	margin:0 auto 0 20px;
	/*for rounded-corners*/
	-moz-border-radius: 15px 15px 0 0;
    -webkit-border-top-left-radius: 15px;
    -khtml-border-top-left-radius: 15px;
	 -moz-border-radius-topleft: 15px; 
	-moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    -khtml-border-top-right-radius: 15px;}
	
	ol#tocTab  a:hover{ color: #000;} 
 #content li a.current {
    background-color: #fff;
	border:1px solid #fff;
	display: block;
    margin-left:0px;
    }
.contTabTxt{
	padding: 15px 0 0 0;
	vertical-align: middle;
        text-transform: UPPERCASE;
	float: left;
}

.contTabTxt_ad {
    float: right;
    margin-top: -27px;
    padding: 0 0 0 49px;
    
}

.transform{text-transform:uppercase;}

ol#tocTab_ad a {
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    border: 1px solid #E1E1E1;
    border-radius: 15px 15px 0 0;
    color: #606060;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 370px;
} 
ol#tocTab_tiServices a {
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    border: 1px solid #E1E1E1;
    border-radius: 15px 15px 0 0;
    color: #606060;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 385px;
}
.tab{padding: 0 3em;}

ol#tocTab_tiServices a {
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    border: 1px solid #E1E1E1;
    border-radius: 15px 15px 0 0;
    color: #606060;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 385px;
} 

.tabIcon {
	background-image: url(../images/csharing__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_stport {
	background-image: url(../images/ptmp__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}


.tabIcon_stusb {
	background-image: url(../images/iusb__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_sttel {
	background-image: url(../images/tel___xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}


.tabIcon_help {
	background-image: url(../images/tech__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_stcon{
	background-image: url(../images/bbc__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_conn{
	background-image: url(../images/cintorxl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_fire{
	background-image: url(../images/secu__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_standard{
	background-image: url(../images/setupIcon.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_advance{
	background-image: url(../images/menu_ico_imp_avan.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}


.tabIcon_stlan{
	background-image: url(../images/ieth__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}


.tabIcon_urlfil {
	background-image: url(../images/webf__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_stdns {
	background-image: url(../images/dns___xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_stwifi {
	background-image: url(../images/iwla__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_stwifi2 {
	background-image: url(../images/iwla24xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIcon_stwifi5 {
	background-image: url(../images/iwla50xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}


.table2 {
    margin-left: 40px;
    padding-top: 10px;
}

.table2 a {
    color: #000000;
    font-size: 12px;
    text-decoration: underline;
}


.blocktitle {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
	vertical-align: middle;
	width:auto;
}

.tablecontaint2
{
    height: 20px;
	font-size:13px;
	padding:2px 0 0 0;
	margin:0 auto;
	/*color:#999999;*/
}

.Tab1 {

	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color:#fff;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:5px;
	float: left;
	height: 55px;
	width: 340px;
	margin:0 auto;
	/*for rounded-corners*/
	-moz-border-radius: 15px 15px 0 0;
    -webkit-border-top-left-radius: 15px;
    -khtml-border-top-left-radius: 15px;
	 -moz-border-radius-topleft: 15px; 
	-moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    -khtml-border-top-right-radius: 15px;

}


.Tab2 {

	font-size: 15px;
	font-weight: bold;
	color: #000000;
	background-color: #e6e6e6;
	text-decoration: none;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:20px;
	float:right;
	height: 40px;
	width: 340px;
	margin:0 auto;
	border:1px solid #cbcbcb;
	/*for rounded-corners*/
	-moz-border-radius: 15px 15px 0 0;
    -webkit-border-top-left-radius: 15px;
    -khtml-border-top-left-radius: 15px;

    -webkit-border-top-right-radius: 15px;
    -khtml-border-top-right-radius: 15px;

}
  


  






.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}


/*------------------------------------------------topheader--------------------*/
#topheader{
	width:1004px;
	height:70px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #dcd66e;
	text-decoration: none;
	padding: 0px;
	float: none;
	background-image: url(images/topbanner_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
}


.title {
	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	color: #000000;
	height: 23px;
	width: 994px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

	background-color: #e5e5e5;
	border: #cbcbcb 1px solid;
	
	  /*for non-css3 browsers*/ 

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #e1e1e1); /* for firefox 3.6+ */
	
	/*for rounded-corners*/
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
     -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;

}
.title-1{
	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	font:10px;
	color: #ffffff;
	height: 19px;
	width: 120px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top:3px;
	padding-left: 10px;
	background-color: #CB082A;
	border: #CB082A 1px solid;
	/*for rounded-corners*/
     -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;

}
.title-2{
	float: right;
	font-size:8px;
	color: #858585;
	height: 19px;
	margin: 0px;
	padding-top:6px;
	padding-right:15px;
}


.menu_area {
	float: left;
	margin-top: 58px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.menu_text {
	
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}

.ideas1{
	background-image: url(images/menu_ico_impostazioni.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 40px;
	width:120px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: 50px;
	}

.ideas {
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	margin: 0px;
	float: left;
	width: 100px;
	text-align:center;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 23px;
}
.ideas:hover {
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	width: 100px;
	text-align:center;
	padding-left: 23px;
	padding-right: 0px;
	padding-bottom: 10px;
	}

.links1{
	background-image: url(images/menu_ico_imp_avan.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 40px;
	width: 120px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: 50px;
	}

.links {
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	margin: 0px;
	float: left;
	width: 120px;
	text-align:center;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 10px;
}
.links:hover {
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	width: 120px;
	text-align:center;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.menu1{
	margin: 0px;
	padding: 0px;
	float: right;
	width: 130px;
	background-color:#f8f4f1;
}


.menu2{
margin: 0px;
	padding: 0px;
	float: right;
	width: 130px;
background-color:#f8f4f1;
}

.menu3{
margin: 0px;
	padding: 0px;
	float: right;
	width: 130px;
background-color:#ffffff;
}

.info1{
	
	
	background-image: url(images/menu_ico_modem.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 40px;
	width:120px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: 50px;
}
.info{
	
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	text-align:center;
	margin: 0px;
	float: left;
	width: 130px;
	padding-right: 0px;
	padding-bottom: 10px;
	
}

.info:hover{

	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	width: 130px;
	text-align:center;
	padding-right: 0px;
	padding-bottom: 10px;
	
}
/*------------------------------------------------U-link-------------------*/
#U-link{
	width:1004px;
	height:50px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding: 0px;
	float: none;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
}
.freeregistration {
	margin: 0px;
	float: left;
	height: 23px;
	width: 774px;
	background-color: #f8f4f1;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left:220px;
	
}
.registration {
	
	font-size: 12px;
	font-weight: normal;
	color: #626262;
	text-decoration: none;
}

.registration1 {

	background-color: gray;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}



/*------------------------------------------------body_area--------------------*/
#body_area{
	width:1004px;
	height:500px;
	background-color: #ffffff;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	float: none;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#innerbody_area{
	width:1004px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	float: none;
	padding-top: 52px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.left 
{
	margin: 0px;
	float: left;
	background-color:#f8f4f1;
	width: 130px;
	padding: 0px;


	
}
.left_menu_area {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 130px;
	border-bottom: 1px solid gray;
	
}
.left_menu_area  a {text-decoration: none; color:#818181;}

.left_menu_area1 {
	margin: 0px;
	padding: 0px;
	float: right;
	background-color:#ffffff;
	width: 110px;
	
	
}


.left_menu {

	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	color: #9c9c9c;
	text-decoration: none;
	background-image: url(images/menu_active.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 18px;
	width: 123px;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 25px;
}
.left_menu:HOVER {

	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	color: #1c1c1c;
	text-decoration: none;
	background-image: url(images/menu_hover.png);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 18px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 12px;
}
.midarea {
	margin: 0px;
	float: left;
	height: 460px;
	background-color:#f8f4f1;
	width: 855px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.midarea1 {
	margin: 0px;
	float: left;
	height: 62px;
	font:16px;
	background-color:#ffffff;
	font-weight:bold;
	width: 845px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.midareaMain{
	margin:0 auto;
	float: left;
	width:710px;
	background-color:#ffffff;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	}

.midarea2 {
	margin:0 auto;
	float: left;
	height: 30px;
	width:auto;
	background-color:#ffffff;
	font:13px;
	color:#5e5e5e;
	padding-top:10px;
	padding-left:40px;
	text-align:left;

}

.midarea2_telmain {
	margin:0 auto;
	float: left;
	height: 30px;
	width: 600px;
	background-color:#ffffff;
	font:13px;
	color:#5e5e5e;
	padding-top:10px;
	font-weight:bold;
	text-align:left;

}

.midarea3 {

	float: left;
	height: 40px;
	color:#5f5f5f;
	background-color:#ffffff;
	width: 630px;
	padding-top: 10px;
	padding-left: 80px;
	padding-right: 0px;
	padding-bottom: 0px;
	
}

.midarea3 span{color:#5f5f5f;}

.midarea3_1 {

	float: left;
	height: 40px;
	color:#5f5f5f;
	background-color:#ffffff;
	width: 630px;

}

.midarea4 {
	margin:0 auto;
	float: left;
	height: 30px;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	padding-top:7px;
	padding-left:40px;
	
}

.midarea4-0 {
	margin:0 auto;
	float: left;
	height: 30px;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	padding-top:7px;
}

.midarea4-1 {
        margin:0 auto;
        float: left;
        height: 30px;
        color:#5e5e5e;
        background-color: #ffffff;
        width: 670px;
        padding-top:0px;
        padding-left:40px;
}

.midarea4-2 {
	width: 306px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}

.midarea4-3 {
	width: 330px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 0px;
	padding-top: 7px;
}



.midarea4-4 {
        margin:0 auto;
        float: left;
        height: 30px;
        color:#5e5e5e;
        background-color: #ffffff;
        width: 670px;
        padding-top:0px;
}

.midarea4_telmain1 {
	margin:0 auto;
	float: left;
	height: 30px;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	padding-top:10px;
	text-align:left;
	font-weight:bold;

}

.midarea4_telmain2 {
	margin:0 auto;
	float: left;
	height: 30px;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	text-align:left;
}

.midarea4_telmain4 {
	margin:0 auto;
	float: left;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	text-align:left;
}

.midarea4_newtelmain2 {
	margin:0 auto;
	float: left;
	height: 30px;
	color:#5e5e5e;
	background-color: #ffffff;
	text-align:left;
}

.midarea4_telmain3 {
	margin:0 auto;
	float: left;
	height: 30px;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	text-align:left;
	padding-bottom:30px

}

.midarea5 {
	margin: 0 auto;
	float: left;
	height: 100%;
	color:#5f5f5f;
	text-align: center;
	background-color:#ffffff;
	width: auto;
	padding-top:10px;
	padding-left:40px;
}

.midarea5 th{padding:10px;}
.midarea5 td{padding:10px;}

.midarea5-1{
	margin: 5px 30px;
	
	float: left;
	height: 23px;
	color: #ffffff;
	text-align: center;
	background-color: #626262;
	width: 90px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding-left: 5px;
	padding-top: 6px;
}

.midarea5-2{
	margin: 5px 0px;
	
	float: left;
	height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #626262;
	width: 200px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding-left: 5px;
	padding-top: 6px;
}

.midarea6{
	margin: 0 auto;
	float: left;
	height: 30px;
	color:#696969;
	background-color: #ffffff;
	width: 670px;
	padding:10px 0 0 40px;
}
.midarea6-4{
        margin: 0 auto;
        float: left;
        height: 30px;
        color:#696969;
        background-color: #ffffff;
        width: 100px;
        padding:10px 0 0 180px;
}

.midarea6-5 {
    background-color: #FFFFFF;
    color: #696969;
    float: left;
    height: 30px;
    margin: 0 auto;
    padding: 10px 0 0 40px;
    width: 100px;
}

.midarea6 a{
	text-decoration:none;
	color:#696969;
	
}
.midarea6-1{
	margin:0 0 10px 0;
	float: left;
	height: 20px;
	text-align: center;
	background-color: #e6e6e6;
	width: 100px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 6px 0 0 5px;
}

.midarea6-browse{
	margin:0 0 0px 0;
	float: left;
	height: 20px;
	text-align: center;
	background-color: #e6e6e6;
	width: 100px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-khtml-border-radius: 5px;
	border-radius:5px;
	padding: 6px 0 0 5px;
}

.midarea_WakeOnLan{
	margin:0 0 10px 0;
	float: left;
	height: 20px;
	color: #FFFFFF;
	text-align: center;
	background-color: #626262;
	width: 100px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 5px 0 0 5px;
}

.midarea6-2 {
    background-color: #E6E6E6;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 27px;
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    text-align: center;
    width: 100px;
	vertical-align:middle;
}

.midarea6-3 {
    background-color: #E6E6E6;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 27px;
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    text-align: center;
    width: 70px;
	vertical-align:middle;
}

.midarea10 {

	float: left;
	height: auto;
	color:#5f5f5f;
	background-color:#ffffff;
	width: 630px;
	padding-top: 10px;
	padding-left: 80px;
	padding-right: 0px;
	padding-bottom: 0px;
	
}

.head {
background-color:white;
	background-image: url(../images/csharing__xl.png);
	background-repeat: no-repeat;
	margin-left: 40px;
	width:50px;
	height:50px;
	float: left;
	padding: 0px;
	
}
.head1{

	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: none;
	background-repeat: no-repeat;
	margin: 0px;
	float:left;
	width: 160px;
	padding-top:15px;
	padding-left:2px;

}


.body_textarea {

	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	float: left;
	width: 400px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}


/*------------------------------------------------footer--------------------*/
#footer{
	margin:0px;
	float: left;
	height: 22px;
	background-color:#CB082A;
	padding:0px auto;
	font-size: 18px;
	width:100%;

}

.footer_copyrights {


	background-repeat: no-repeat;
	padding: 0px;
	float: left;
	font-size:12px;
	padding: 3px 0 0 40px;
	margin: 0px;
	float: left;
	background-color: #CB082A;
	color:#ffffff;
}
#footer1 {
	background-repeat: no-repeat;
	padding: 0px auto;
	float: left;
	color: #000000;
	height: 23px;
	margin:0px auto;
	background-color: #e5e5e5;
	border: #cbcbcb 1px solid;
}
	.footer_copyrights1 {
	

	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	background-color: #CB082A;
}

/*----------------------------------------------------------------contactpage----------------------------------------------------------------------------------------*/																				

/* content section */

.contentcontainer {margin:0px; font-size:11px;}
.contentcontainer a:link, .contentcontainer a:visited {color:/*color01*/Black;}
.contentcontainer a:hover {color:/*color01*/Black;}
.contentcontainer a.aClicked:hover {color:#5f5f5f;}
.contentcontainer hr {visibility:hidden;display:none}
.contentitem {padding:10px;text-align:left;width:auto;margin-bottom:0px;}
.contentitem1 {padding:10px;text-align:left;width:95% !important;margin-bottom:0px;}

.contentitem{
	background-color:#FFFFFF; /* for non-css3 browsers */
	
	background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(left,#FFFFFF,#FFFFFF); /* for firefox 3.6+ */
}

.contentitem1{
	background-color:#FFFFFF; /* for non-css3 browsers */
	
	background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(left,#FFFFFF,#FFFFFF); /* for firefox 3.6+ */
}

/* displaying usb alert */

.msgBgRed {background-color:#f0aa13;color:white;width:835px;font-size: 12px;font-weight: bold;font-family:Arial;line-height: 220%;vertical-align:middle;}
.msgBgGreen {background-color:#009933;color:white;width:835px;font-size: 12px;font-weight: bold;font-family:Arial;line-height: 220%;vertical-align:middle;}
.greenLine {BACKGROUND: url("../images/line.gif"); background-repeat: repeat-x;line-height: 50%;}
.redline {BACKGROUND: url("../images/redLine.gif"); background-repeat: repeat-x;}
.vBorder {BACKGROUND: url("../images/stateBG.gif"); background-repeat: repeat-x;vertical-align:middle;}
.ledBg {background-repeat: repeat-x;  height: 20px;    vertical-align: middle;}
.ledBg1 {background-color:white;vertical-align: middle;}
.msgBgGray {background-color:#458219;color:white;width:835px;font-size: 12px;font-weight: bold;font-family:Arial;line-height: 225%;vertical-align:middle;}
.fontDarkGrey {font-size: 12px;font-weight: bold;font-family: Arial !important; color:#333333;}
.fontMediumGrey {font-size: 12px;font-weight: bold;font-family: Arial !important; color:#666666;}
.fontLightGrey {font-size: 12px;font-weight: bold;font-family: Arial !important; color:#999999;}
.fontRed {font-size: 12px;font-weight: bold;font-family: Arial !important; color:#e0001a;line-height: 180%;}
.fontGreen {font-size: 12px;font-weight: bold;font-family: Arial !important; color:#006600;}

/* table data background colour */

 .edittable {margin-bottom:6px;} 
 .edittable th {text-align:left; color:Black; background-color:/*gray04*/#FFFFFF;} 
 .edittable th, .edittable td       {padding-left:4px; padding-right:4px; text-align: left; vertical-align: middle;} 
.edittable th {font-weight: normal;}
.edittable .oddrow  {text-align:left;vertical-align:middle;background-color:/*gray05*/#E9EEF2;white-space:nowrap;}
.edittable .evenrow {text-align:left;vertical-align:middle;background-color:/*gray02*/#FFFFFF;white-space:nowrap;}
.edittable .oddrow_firewall  {text-align:left;vertical-align:middle;background-color:/*gray05*/#E9EEF2;}
.edittable .evenrow_firewall {text-align:left;vertical-align:middle;background-color:/*gray02*/#FFFFFF;}

.edittable_port {margin-bottom:6px;} 
 .edittable_port th {text-align:left; color:Black; background-color:/*gray04*/#FFFFFF;} 
 .edittable_port th		 {padding-left:4px; padding-right:4px; text-align: left; } 
 .edittable_port td       {padding-left:4px; padding-right:4px; text-align: left; vertical-align:middle} 
 .edittable_port .oddrow_firewall  {text-align:left;vertical-align:middle;background-color:/*gray05*/#F8F4F1;}
.edittable_port .evenrow_firewall {text-align:left;vertical-align:middle;background-color:/*gray02*/#FFFFFF;}

/* title in webpage */

.itemtitle  {color:/*gray01*/#333; font-size:1.6em; font-weight:bold;}

/* reset buttons */

.midarea7{
	margin: 0 auto;
	float: left;
	height: 30px;
	color:#696969;
	background-color: #ffffff;
	width: 670px;
	padding:10px 0 0 40px;
}
.midarea7 a{
	text-decoration:none;
	color:#696969;
	
}


.midarea7-1{
	margin:0 0 10px 0;
	float: left;
	height: 20px;
	text-align: center;
	background-color: #e6e6e6;
	width: 200px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 6px 0 0 5px;
	color:black;
}

.midarea7-2{
	margin:0 0 10px 0;
	float: left;
	height: 30px;
	text-align: center;
	background-color: #e6e6e6;
	width: 150px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 0 0 0 5px;
}

.midarea7-3{
	margin:0 0 10px 0;
	float: left;
	height: 20px;
	text-align: center;
	background-color: #e6e6e6;
	width: 120px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 6px 0 0 5px;
}

.midarea7-4{
	margin:0 0 10px 0;
	float: left;
	height: 20px;
	text-align: center;
	background-color: #e6e6e6;
	width: 250px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 6px 0 0 5px;
	color:black;
}

.Table_Title {
    background-color: #666666;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.tdBianca_new {
    border-color: #000000;
    color: #000000;
    font-family:Arial;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
}

/* Status colour */

.tdScura {

   background-color: #53669E;   

   border-color: #000000;

   color: #FFFFFF;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

}

.trScura {

   background-color: #ADADAD;   

   border-color: #000000;

   color: #FFFFFF;

   font-family: Arial !important;

   font-size: 16px;   

   font-weight: bold;   

   text-decoration: none;

}

.tdChiara {

   background-color: #B6C4E9;   

   border-color: #000000;

   color: #53669E;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

}



.tdChiaraC {

   background-color: #B6C4E9;   

   border-color: #000000;

   color: #53669E;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   text-align: center;

}

.tdChiara50 {

   background-color: #B6C4E9;   

   border-color: #000000;

   color: #53669E;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   height: 45px;

   text-align: center;

}

.trChiara {

   background-color: #B6C4E9;   

   border-color: #000000;

   color: #53669E;

   font-family: Arial !important;

   font-size: 16px;   

   font-weight: bold;   

   text-decoration: none;

}

.tdBianca {

    

   border-color: #000000;

   color: #000000;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

}



.tdBiancaC{

   padding-top: 12px;

   padding-bottom: 12px; 

    

   border-color: #000000;

   color: #000000;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   text-align: center;
  
   line-height: 1.5;

}



.tdOrange {

   border-color: #000000;

   color: #FF9900;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   text-align: left;

}



.tdGreen {

    

   border-color: #000000;

   color: #00CC00;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   text-align: left;

}



.tdGreenC {

    

   border-color: #000000;

   color: #00CC00;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   text-align: center;

}



.tdRed {

   border-color: #000000;

   color: #FF0000;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   text-align: left;

}



.tdRedC {

    

   border-color: #000000;

   color: #FF0000;

   font-family: Arial !important;

   font-size: 12px;   

   font-weight: bold;   

   text-decoration: none;

   text-align: center;

}



.titolo {

   font-family: Arial !important;

   color: #53669E;

   font-size: 24px;   

   font-weight: bold;   

   text-decoration: none;

}

.tableBg {

   background-color: #EAEAFF;

}
.button {

}
.tablePB { 

	BORDER-RIGHT: #000000 1px solid;

	BORDER-TOP: #000000 1px solid;

	BORDER-LEFT: #000000 1px solid;

	BORDER-BOTTOM: #000000 1px solid;

	BACKGROUND-COLOR: #ffffff;}
.pbtdwhite {

	BACKGROUND-COLOR: #ffffff;}



.pbtdcolor0 {

	BACKGROUND-COLOR: #c3d6f8;}

	

.pbtdcolor1 {

	BACKGROUND-COLOR: #b3c6e8;}

	

.pbtdcolor2 {

	BACKGROUND-COLOR: #a3b6d8;}

	

.pbtdcolor3 {

	BACKGROUND-COLOR: #93a6c8;}

	

.pbtdcolor4 {

	BACKGROUND-COLOR: #8396b8;}

	

.pbtdcolor5 {

	BACKGROUND-COLOR: #7386a8;}  

.tabIconTool {
	background-image: url(../images/tbox__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIconRemote {
	background-image: url(../images/reac__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIconLocalAccess {
	background-image: url(../images/isec__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIconWakeOnLan {
	background-image: url(../images/wol___xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}

.tabIconStatisticsAG {
	background-image: url(../images/stxx__xl.png);
	background-repeat: no-repeat;
	height:50px;
	padding: 0px;
	width: 60px;
	float: left;
	display: inline;
}


.midareainfo {
	font-size: 1.6em;
	font-weight: bold;
	margin:0 auto;
	float: left;
	height: 50px;
	width:auto;
	background-color:#ffffff;
	color:#5e5e5e;
	padding-top:10px;

	

}

.linksize{
	width:400px;
	}

/********************************** password strength *********************************************/

#encryptionKeyStrength
{
        height:10px;
        display:block;
        float:left;
}
#encryptionKeyStrength2
{
        height:10px;
        display:block;
        float:left;
}

.strength0
{
        width:150px;
        background-color:red;
}

.strength1
{
        width:50px;
        background-color:red;
}

.strength2
{
        width:100px;
        background-color:yellow;
}

.strength3
{
        width:150px;
        background-color:green;
}


/********************************************************** Home Page *************************************************************/

.sectionContainer{background-color:#fff;color:gray;margin:0 12px; padding: 0 0px 0 0; font-family: Arial;}
.sectionContainerWifi{background-color:#fff;color:gray;margin:0 auto; padding: 0 10px 0 0; font-family: Arial;}
.sectionContainerTop{background-color:#fff;color:gray;margin:0 auto; padding:0px 10px;font-family: Arial;}
.headerContainer{ height: 33px; width:685px;font-family: Arial;}
.hdrimg{float:left; margin-right:15px;padding-top:0px;}
.hdrtxt{font-size:11px; padding-top:0px;}
.HomeMainText{width:700px;font-family: Arial;}
.HomeMainHeader{background-color:red;width:700px;height:20px;}


/*for font*/
.fbold{font-weight:bold;}
.fsize{font-size:12px;white-space:nowrap;}
.fcolor{color:#000;}
.tablecontainttbl span{color:#8bb337;}
.span_red{color:red;}
.trtxthght{height:20px;padding-top:7px; font-size:12px; float:left;color:gray;margin-right:10px;}
.trtxthght1{height:15px;text-transform:uppercase;font-size:12px; color:gray;padding:0px;margin-bottom:15px;float:left;margin-top: -20px;}
.trtxthght2{height:5px;text-transform:uppercase;font-size:12px; color:gray;padding:0px;margin-bottom:15px;float:left;margin-top: -20px;padding-top:10px;}
.hometopimgtxt{width:825px;}
.txtRight{text-align: right;}
.state{
width:425px;
padding-top:0px;
}
.imgCont{height: 145px;
	width: 371px;}
.tablecontainttbl
{color:#999999;
   font-size:12px;
}

/*Paddings measurements*/
.ltpd10{
	padding-left: 10px;
}
.ltpd60{
	padding-left: 17px;
	width:200px;
}
.ltpd5{
	padding-left: 5px;
}
/*bottom padding measurements*/
.btpd8px{
margin-bottom: 8px;}
/*bottom margin measurements*/
.mrgnbtm10px{margin-bottom:10px;}
.mrgnbtm5px{margin-bottom:5px;}
.mrgnleft5px{margin-left:5px;}
.mrgnleft15px{margin-left:15px;}
.mrgnleft20px{margin-left:20px;}
.mrgntop5px{margin-top:5px;}
.mrgn5px{margin:5px;}
.mrgn10px{margin:10px;padding-left:30px;}
.mrgn11px{margin:10px;padding-left:40px;}
.padng2px{padding:2px;white-space:nowrap;}
.padngtop5px{padding-top:5px;}


/* Widths */
	/*  In Percentage*/
.fullWidth{
	width:100%;
}
	/* In EMs */
.wdth17em{ width: 17em;}
.wdthtd{width:90px;}

	/* In Px */
.wdth130px{ 
	width: 125px
}
.wdth120px{
	width: 115px
}

.wdth70px{
	width: 70px
}

.oddRB{border-bottom: 1px solid #CECECE;}

/* Table Related Class */


tr.oddRow td{
background-color:#e9eef2;
border-top: 1px solid #CECECE;
border-bottom: 1px solid #CECECE;
padding:5px;
}
.oddRB{border-bottom: 1px solid #CECECE;}
tr.evenRow td{
background-color: #fff;
padding:5px;
}


.tblImgContainer{
padding-top:5px;}

.tblImgContainer2{
padding-top:1px;
float:left !important;}

.tblImgContainer3{
padding-top:1px;vertical-align:top;width:70px;margin-left:5px;
float:left !important;}

.tblImgContainer, .contentInfo{
	float: left !important;
	
}


.contentInfo .contentTxt, .contentInfo .info {
padding: 3px;}

.contentTxt{font-size:11px;margin:1px 0px 8px 0px;}
.contentTxt1{margin-top:12px;font-size:11px;}
.contentTxt2{font-size:11px;margin-top:10px; width:75px;height: 43px;}
.contentTxt3{font-size:11px;margin:10px 0px 4px 0px;}


.midareaHome {
	padding:0 auto;
	float: left;
	color:#5f5f5f;
	font-size:11px;
}


.midareaHome-btn{
	margin:0 0 0 5px;
	background-image:url(../images/tasto_grigio_piccolo.png);
	background-repeat: no-repeat;
	height: 30px;
	font-size:10px;
	width:70px;
	color:#000;
	padding: 3px 0 0;
    	text-align: center;
}
.midareaHome-btn-Wifi-On{
	margin:0 0 0 20px;
	background-image:url(../images/switch_on.png);
	background-repeat: no-repeat;
	height: 28px;
	font-size:10px;
	width:70px;
	color:#000;
	padding:0px;
}

.midareaHome-btn-Wifi-Off{
	margin:0 0 0 20px;
	background-image:url(../images/switch_off.png);
	background-repeat: no-repeat;
	height: 28px;
	font-size:10px;
	width:70px;
	color:#000;
	padding:0px;
}

.Hbtn1{padding:3px;}

.midareaHome-btn1{
	background-image:url(../images/tasto_nero_grande.png);
	background-repeat: y-repeat;
	height: 23px;
	font-size:12px;
	width:184px;
	color:#fff;
	padding-top:5px;

}
.hometxt{font-size:12px;}
.hometable{padding:0 auto; margin:0 auto;}
.hometable1{padding:0 auto; margin:0 auto;}

.midareaHome span{color:#8bb337;}

.homeMicon{float:left;padding:0; margin:0;}
.homeMtxt{padding:0; margin:0 ; font-size:11px; }


.tblImgContainer{
padding-top:5px;}

.tblImgContainer2{
padding-top:1px;
float:left !important;}

.tblImgContainer3{
padding-top:1px;width:70px;margin-left:5px;
float:left !important;}

.tblImgContainer, .contentInfo{
	float: left !important;
	
}

.transform{text-transform:uppercase;}

.satoDelModem{
	height: 144px;
	width: 370px;
	background-image:url(../images/Modem.png);
	background-repeat: no-repeat;

}

.tooltip{background-image:url(../images/tooltip.png);
	background-repeat: no-repeat;
	height: 105px;
	width:353px;
margin-left:17px;
	}

.hometb {
	background-color:#f8f4f1;
	-moz-border-radius: 10px;
}

.hometbtop{
	margin-top:0px;
}

.midareaHome-btnAPRI{
	
	background-image:url(../images/tasto_nero_piccolo.png);
	background-repeat: no-repeat;
	height:4px;
	color:#fff;
	width:auto;
	padding-top:3px;
	padding-right:8px;
	padding-bottom:20px;
	padding-left:8px;
	font-size:11px;
}

.usb_bg
{
 background-color: #F8F4F1;
    border-bottom: 1px solid #CECECE;
    border-top: 1px solid #CECECE;
    padding: 5px;
}

.midvertical{
    background-color: #FFFFFF;
    color: #696969;
    height: 30px;
    margin: 0 auto;
    padding: 10px 0 0 40px;
}
.tdBiancaC1 {
    border-color: #000000;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0 173px 10px 0;
    text-align: center;
    text-decoration: none;
}

.backOpera {
	padding-left:274px;
}
.backNonOpera {
	padding-left:254px;
}
.AuthTitle {
    width: 365px; 
    padding-left: 0px;
}

@media screen and(-webkit-min-device-pixel-ratio:0){
.AuthTitle {
    width:380px;
}
}
.macTitle {
    width: 300px; 
    padding-left: 0px;
}

@media screen and(-webkit-min-device-pixel-ratio:0){
.macTitle {
    width:310px;
}
}
.AuthTitle_new {
    width: 243px; 
    padding-left: 0px;
}

@media screen and(-webkit-min-device-pixel-ratio:0){
.AuthTitle_new {
    width:241px;
}
}
.midarea4-5
{
	width: 210px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}
.channelWidth
{
	width: 250px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 0px;
	padding-top: 7px;
}
.midarea4-6
{
	width: 485px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}
.midarea4-8
{
	width: 330px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 0px;
	padding-top: 7px;
}
.midarea4-9
{
	width: 310px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}
.margin10px
{
margin:10px;
}
.width100px
{
width:80px !important;
}
.width90px
{
width:90px !important;
}
.width65px
{
width:64px !important;
}
.width425
{
width:425px !important;
}

/*AGplus_M4_GUI_improvements*/
.fontSize
{
font-size:11px !important;
}
.verticalAlign
{
vertical-align:top !important;
}
.alignMid
{
vertical-align:middle !important;
}
.padLeft37
{
padding-left:37px;
}
.txtAlignCenter
{
text-align:center !important;
}
.width85
{
width:85px;
}
.width95
{
width:95px;
}
.width70
{
width:75px;
}
.width65
{
width:65px !important;
}
.width55
{
width:55px;
}
.width140
{
width:146px;
}
.width110
{
width:110px;
}

.width120
{
width:100px;
}
.wordWrap
{
word-break:break-all !important;
word-wrap:break-word !important;
}
.tableHd
{
font-size:11px !important;
font-weight:bold !important;
color:#666666 !important;
}
.padleft4
{
padding-left:4px;
}
.tableTitle
{
font-size:12px !important;
font-weight:bold;
color:#666666;
}
.valueSpace td   
 {
	padding-top:2px; padding-bottom:2px;
} 
.ipReserve
{
margin-left:36px;
}
.width700
{
width:700px;
}
.width175
{
width:175px;
}
.inputClass
{
font-family:Arial;
font-size:11px;
}
.tableHeader
{
word-break:break-all !important;
word-wrap:break-word !important;
vertical-align:top !important;
font-size:11px !important;
font-weight:bold;
color:#666666;
}
.tableLayout
{
table-layout:fixed;
}
.padtop10
{
margin-top:15px;
}
.linkPointer
{
cursor:pointer;
cursor:hand;
}
.tableArea
 {
	margin:0 auto;
	float: left;
	height: 25px;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	padding-top:7px;
}
.padleft40
{
padding-left:40px !important;
}
.infotable td
 {
	height: 27px;
	color:#5e5e5e;
}
.sectionArea
{
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 27px;
	font-weight:bold;
	margin: 0 ;
	padding-left: 40px;
	padding-top: 7px;
	font-size:12px !important;
}
.sectionArea-1 
{
	width: 300px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	margin: 0 ;
	word-break:break-all !important;
    word-wrap:break-word !important;
}

.sectionArea-2 
{
	width: 330px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	margin: 0 ;
	padding-left: 0px;
}
.fright
{
float:right !important;
}
.martop5
{
margin-top:5px;
}

.servizitable td 
{
	height: 27px;
}
.padleft10
{
padding-left:10px;
}
.firewallRow
{
vertical-align:middle;
color:#5F5F5F;
padding:10px 0 10px 0;
text-align:left;
}
.statusWidth
{
	width: 200px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 0px;
	padding-top: 7px;
}
.martop15{
margin-top:20px;
}

.martop15-1 {
margin-top:10px;
}

.textColor {
	color:#5e5e5e;
	background-color: #ffffff;
}
.width650{
width:650px;
}
.padtop5
{
padding-top:5px;
}
.width750{
width:750px;
}
.width450
{
width:450px;
}
.marleft36
{
margin-left:36px !important;
}
.rowvertical{
    color: #696969;
    height: 30px;
}

.accessRowContent{
padding:4px;
}
.width200
{
width:200px;
}
.width350
{
width:400px;
}
.fright
{
float:right !important;
}
.fleft
{
float:left !important;
}
.padleft50
{
padding-left:50px !important;
}
.padright15
{
padding-right:15px;
}
.marleft40
{
margin-left:40px !important;
}

/*Error Messsage*/
.errorinfo {
	font-size: 18px;
	font-weight: bold;
	margin:0 auto;
	float: left;
	height: 45px;
	width:auto;
	background-color:#ffffff;
	color:#5e5e5e;
	padding-top:10px;

}
.trmessage {
   background-color: #ADADAD;   
   border-color: #000000;
   color: #FFFFFF;
   font-family: Arial !important;
   font-size: 13px !important;  
   font-weight: bold;   
   text-decoration: none;
   padding:4px;
}
.paddtop10
{
padding-top:15px;
}
.paddtop10
{
padding-top:15px;
}


.midareaNoheight {
	margin:0 auto;
	float: left;
	width:auto;
	background-color:#ffffff;
	font:12px;
	color:#5e5e5e;
	padding-left:40px;
	text-align:left;

}
.width130
{
width:130px;
}
.tdSpace td   
 {
	padding-top:2px; padding-bottom:2px;padding-left:0px !important;
}
.marLeft26
{
margin-left:26px;
}
.padLeft26
{
padding-left:33px !important;
}
.padleft250{
padding-left:250px !important;
}
.padleft50{
padding-left:50px !important;
}
.padleft200{
padding-left:200px !important;
}

.wifiMidarea4-2 {
	width: 300px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}

.wifiMidareaNoHeight4-2 {
	width: 306px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 0px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}
.wifiWarning {
	width: 500px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}
.clientPin {
	width: 200px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}
.width130
{
width:142px;
}
.midarea4_telmain27 {
	margin:0 auto;
	float: left;
	height: 27px;
	color:#5e5e5e;
	background-color: #ffffff;
	width: 670px;
	text-align:left;
	}

tr.oddRowMenu td{
background-color:#FFF !important;
border-top: 1px solid #FFF !important;
border-bottom:1px solid #FFF !important;
padding:5px;
}

/* Home Page menu icon display */
.listIcon {
z-index:99;
width:490px !important;
height:215px !important;
margin-left:-140px;
overflow-y: auto !important;
}

.listIcon ul {


}
.listIconNameProperty
{
text-align:center;
}
.menuList
{
line-height: 10px;
padding-top: 5px;
word-break:break-all !important;
word-wrap:break-word !important;
}
/* Home Page menu icon display */
.width225
{
width:225px;
}
.width585
{
width:585px;
}
.marleft32
{
margin-left:32px !important;
}
.macheader{
width:297px;
}
.authHeader{
width:309px;
}

.wifiMidareaCont{
	width: 290px;
	background-color: #FFFFFF;
	color: #5E5E5E;
	height: 30px;
	margin: 0 ;
	padding-left: 32px;
	padding-top: 7px;
}

.width770{
width:770px !important;
}
.usbText{
    margin-top:3px;
	padding-top:8px;
	margin-left:32px;
}

.channelButton
{
	width: 200px;  
	background-color: #FFFFFF;
    color: #5E5E5E !important;
	height: 30px;
	margin: 0 ;
	padding-left: 0px;
	padding-top: 7px;
}
.disableTxt
{
    background-color: #E9EEF2  !important;
    color: #adadad !important;
}
.macAddTitle {
    width: 295px; 
    padding-left: 0px;
}
.errorMessage {
   background-color:#e9eef2;   
   border-color: #000000;
   color: #000000;
   font-family: Arial !important;
   font-size: 14px !important;  
   font-weight: bold;   
   text-decoration: none;
   padding:10px;
   text-align:center;
}

.errorDesc{
   padding-top: 12px;
   padding-bottom: 12px; 
   border-color: #000000;
   color: #5e5e5e;
   font-family: Arial !important;
   font-size: 12px;   
   font-weight: bold;   
   text-decoration: none;
   text-align: left;
   line-height: 1.5;
}
.errInfo {
	font-size: 16px;
	font-weight: bold;
	background-color:#ffffff;
	color:#5e5e5e;
	padding-top:14px;
	padding-left:10px;
	vertical-align:top;
	float:left;
	height:40px;
	
}
.width790{
width:800px;
}
.width50{
width:50px;
}
.marleft5
{
margin-left:5px !important;
}
.padleft35
{
padding-left:35px !important;
}
.width340
{
width:350px;
}
.margin15 {
	margin-left:15px !important; 
}
.width45{
width:45px;
}
.width20{
width:20px;
}
.padleft10
{
padding-left:10px !important;
}
.width114
{
width:114px;
_width:118px;
}
.width60
{
width:60px;
_width:63px;
}

.width70px{
	width: 70px;
	_width:73px;
}
.whiteWrap{
white-space:normal !important;
}
.width160{
width:160px;
}
.width625{
width:625px;
}
.padleft210{
padding-left:210px !important;
}
.padleft230{
padding-left:230px !important;
}
.padleft305{
padding-left:305px !important;
}
.padleft158{
padding-left:158px !important;
}
.padleft175{
padding-left:175px !important;
}
.padleft150{
padding-left:150px !important;
}
.width450
{
width:460px !important;
}
.width60{
width:115px;
}
.width45px{
width:45px;
_width:47px;
}
.width98{
width:98px;
}
input, select, span, textarea{
   font-family: Arial !important;
}
.padcell{
padding-top:7px !important;
padding-bottom:7px !important;
}
.txtLeft{
text-align: left !important;
}
input, select, textarea{
   font-size: 11px !important;
}
.padleft15
{
padding-left:15px !important;
_padding-left:13px !important;
}
.width78
{
width:78px;
}

/*27thMarch URL fix*/
.blockUrl {
padding-left:86px;
_padding-left:89px;
}
:root .blockUrl {
padding-left:83px \ ;
}
.width48
{
width:101px;
}
.buttonTop
{
padding-top:10px !important;
}
.fallback
{
width:328px;
*width:232px;
}
.width325
{
padding-left:325px;
}
.padleft108{
padding-left:108px !important; 
}
.padleft128{
padding-left:128px !important; 
}
.padleft78{
padding-left:78px !important; 
}
.enableDECT{
padding-left:108px;
*padding-left:78px;
}
.padleft328{
padding-left:328px !important; 
}
.iconpadcell{
padding:5px 0 5px 5px !important;
}
.titlelink{
color:#666666 !important;
text-decoration:none !important;
text-transform:uppercase;
}
.padTop10{
padding-top:10px;
}

.buttonarea{
	margin:0 0 10px 10px;
	float: left;
	height: 11px;
	text-align: center;
	background-color: #666666;
    color:#ffffff;
	font-weight:bold;
	text-transform:uppercase;
	width: 75px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding:5px;
}
.buttonText {
    color:#ffffff !important;
}
.padLeft15
{
padding-left:15px !important;
}
.mainButton{
background-color: #000000 !important;
color:#ffffff !important;
font-weight:bold !important;
}
.secondaryButton{
background-color: #cfcfcf !important;
color:#000000 !important;
font-weight:normal !important;
}
.width300{
width:300px;
}

.detailArea{
	 margin: 0 0 0 5px;
	float: left;
	height: 15px;
	text-align: center;
	background-color: #cfcfcf !important;
	color:#000000 !important;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 3px 0 0 4px;
	font-size:10px;
	width:70px;
}

.homeSecBtn{
	background-color: #000000 !important;
    color:#ffffff !important;
    font-weight:bold !important;
	background-repeat: y-repeat;
	height: 20px;
	font-size:12px;
	width:184px;
	padding-top:5px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;

}
.homeMainBtn{
background-color: #cfcfcf !important;
color:#000000 !important;
font-weight:normal !important;
	height: 20px;
	font-size:12px;
	width:184px;

	padding-top:5px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
}
.homebtnAPRI{
	background-color: #000000 !important;
    color:#ffffff !important;
    font-weight:bold !important;
	background-repeat: no-repeat;
	height:17px;
	width:50px;
	padding-top:5px;
		text-align: center;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
}
.restoreTd {
	margin:0;
	float: left;
	width:120px;
	background-color:#ffffff;
	font:13px;
	color:#5e5e5e;
	padding-top:10px;
	text-align:left;

}
 
.toolTip
{
display:inline;
position:absolute;
width:316px;
	background-color:#F8F4F1;
	border:1px solid #000000;
	padding:10px;
	top:625px;
	left:155px;
	font:11px Arial;}
	
.padleft30{
padding-left:30px !important;
}
.addButton{
padding-top:5px;
_padding-top:0px;
}
.next_wifi{
	margin:0 0 10px 0;
	float: left;
	height: 20px;
	text-align: center;
	background-color: #e6e6e6;
	width: 100px;
	cursor:pointer;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 6px 0 0 5px;
	background-color: #000000 !important;
 color:#ffffff !important;
 font-weight:bold !important;
}
.next_wifidisable{
	margin:0 0 10px 0;
	float: left;
	height: 20px;
	text-align: center;
	background-color: #e6e6e6;
	width: 100px;
	cursor:none !important;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius:5px;
	padding: 6px 0 0 5px;
	background-color: #d3d3d3 !important;
 color:#ffffff !important;
 font-weight:bold !important;
}
.width150
{
 width:150px;
}
.contentWifi {
white-space:normal;
word-wrap:break-word;
overflow:hidden;
}
.contentSSID {
white-space:normal !important;
word-wrap:break-word;
}
.wdth72px{
	width: 72px
}
.uploadMsg{
position:absolute;
left:100px;
 top:100px;
 width:500px;
 z-index:1;
 overflow: auto;
height:400px;
}
.addMAC{
    background-color: #E6E6E6;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 0 0 10px;
    padding: 6px 0 0 5px;
    text-align: center;
    width: 100px;
	background-color: #CFCFCF !important;
    color: #000000 !important;
    font-weight: normal !important;
	}
	
	.addMAC_disable{
    background-color: #E6E6E6;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 0 0 10px;
    padding: 6px 0 0 5px;
    text-align: center;
    width: 100px;
	background-color: #d3d3d3 !important;
    color: #ffffff !important;
    font-weight: normal !important;
	cursor:none !important;
	}
